body{
	margin: 0;
}
*{
	box-sizing: border-box;
}
.header{
	width: 100%;
	height: 100vh;
	
}
.image{
	position: absolute;
	background-image: url("img/pic.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	width: inherit;
	height: 95vh;
	background-position: center;
	opacity: 0.9;

}
.image-overlay{
	width: inherit;
	height: 95vh;
	position: absolute;
	background-color: black;
	opacity: 0.3;
	z-index: 2;
}

.text{
	margin-top: 25%;
	color: #e80220;
	text-align: left;
	margin-left: 10%;
	margin-bottom: 5%;
	font-size: 30px;
	background:transparent;
	position: absolute;
	font-size: 2em;
}
.me{
	text-align: center;
	display: grid;
	grid-template-rows: 100%;
	grid-template-columns: 33.3% 33.3% 33.3%;
	margin: 3% 5% 3% 5%;
}
.basic{
	background-color: black;
	color: white;
	margin: 2%;
	padding: 10%;
}
.basic td{
	padding: 7%;
}
.note{
	margin: 2%;
}
.note a{
	text-decoration: none;
	color: black;
	padding: 2%;
	border: 1px solid black;

}
.note a:hover{
	background-color: black;
	color: white;
}
.edu{
	margin:2%;
}
.edu th{
	color: black;
	background-color: chocolate;
}
.edu tr{
	color: white;
	background-color: chocolate;
	padding: 10%;
}
.contact{
	background-image: url('img/back3.jpg');
	text-align: center;
	display: grid;
	grid-template-rows: 100%;
	grid-template-columns: 40% 35% 25%;
	padding:5% 0% 5% 0%;
	 
}
.message{
	margin-left: 10%;
}
.message input{
	width: 60%;
	height: 10vh;
	background-color: black;
	color: white;
	margin-top: 2%;
}
button{
	width: 15%;
	height: 7vh;
	margin-top: 2%;
	background-color: lightgrey;
}
.meet{
	margin-right: 5%;
}

.meet img{
	width: 55%;
	height: 45vh;
	border-radius: 100%;
}
.icon{
	margin-right: 5%;
	padding: 0;
}
.icon img{
	width: 20%;
	height: 10vh;
	border-radius: 100%;
}
.service{
	margin: 3% 10% 3% 20%;
	display: grid;
	grid-template-rows: 100%;
	grid-template-columns: 15% 85%;

}
.img2 img{
	width: 40%;
	height: 35vh;
	margin: 3% 0% 3% 0%;
}

.pic{
	margin: 3% 10% 3% 20%;
	display: grid;
	grid-template-rows: 100%;
	grid-template-columns: 15% 85%;

}
.img img{
	width: 30%;
	height: 40vh;
	margin: 3% 0% 3% 0%;
}
.footer{
	background-color: black;
	text-align: center;
	display: grid;
	grid-template-rows: 100%;
	grid-template-columns: 30% 25% 45%;
	color:grey;
	padding-top: 2%;
}
.footer img{
	width: 7%;
	height: 5vh;
	border-radius: 100%;
}

@media screen and (max-width: 500px){
	

	
}